*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containor{
    display: flex;
    flex-direction: column;
    background-color: rgb(189, 189, 225);
    width: 100vw;
    align-items: center;
}
.containor>*{
    margin: 1vh;
}
input{
    width: 30vw;
    padding: 1vh 1vw;
    height: 7vh;
    border-radius: 10px;
}

.inputs{
    display: flex;
    justify-content: space-around;
    width: 50vw;
}
.table{
    width: 50vw;
    height: 70vh;
    border-radius: 10px;
    padding: 2vh 1vw;
    background-color: salmon;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table>*{
    margin: 1vh 1vw;
}

@media only screen and (max-width: 600px) {
    .containor>*{
        margin: 2vh;
    }
    input{
        width: 80vw;
        padding: .5vh 1vw;
        height: 7vh;
        font-size: 5vw;
        border-radius: 10px;
    }
    
    .inputs{
        display: flex;
        justify-content: space-around;
        width: 80vw;
    }
    .table{
        width: 90vw;
    }
    .table>*{
        margin: .7vh 1vw;
        font-size: 7vw;
    }
    h1{
        font-size: 6vw;
    }
  }